<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OkulProjesi.Properties.Settings.OkulVeriTabaaniConnectionString"
            connectionString="Data Source=LAPTOP-69LK30JQ\TEW_SQLEXPRESS;Initial Catalog=OkulVeriTabaani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
